*{
    box-sizing: border-box;
    margin: 0;
}

html, body{min-height:100%;}

body{
    background-color: #F8F8FB;
    height: 100vh;
    position: relative;
}

h1, h2, h3{
    font-family: 'Spartan', sans-serif;
    font-weight: bold;
}

h1{
    font-size: 2rem;
    line-height: 2.571428571rem;
    letter-spacing: -1;
}

h2{
    font-size: 1.25rem;
    line-height: 24px;
    letter-spacing: -0.8;
}
.container{
    width: 50%;
    margin: 0 auto;
    height: 100%;
    display: grid;
}

.container p{
    font-family: 'Spartan', sans-serif;
    font-size: 0.857142857rem;
    line-height: 15px;
    letter-spacing: -0.25;
}

.sub-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-main p{
    color: #888EB0;
}

.right-main p{
    display: inline-block;
}

.right-main select{
    border: none;
    background-color: #F8F8FB;
    margin-right: 2rem;
    color: #7E88C3;
    outline: none;
}

.right-main select option{
    color: black;
}

.right-main button{
    color: white;
    background-color: #7C5DFA;
    border: none;
    border-radius: 100px;
    padding: 1rem 2rem 1rem;
    padding-left: 0.5rem;
    outline: none;
    cursor: pointer;
}

.right-main button:hover,
.right-main button:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #1E2139;;
  transform: translateY(-0.25em);
}

.right-main button .plus{
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    margin-right: 1rem;
    height: 15px;
    width: 15px;
    line-height: 15px;
}

/* MAIN BODY */

/* If no invoices */ 

.invoices{
    display: block;
}

.no-invoices{
    /*display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
}

.no-invoices h2{
    margin-top: 3rem;
}

.no-invoices p{
    margin-top: 1rem;
    width:30%;
    text-align: center;
    color: #888EB0;
}

/* SIDEBAR */

.sidebar{
    height: 100%;
    background-color: #252945;
    width: 8%;
    position: absolute;
    left: 0;
    top: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    display:grid;
}

.icon-container{
    position: relative;
}

.top-icon{
    background-color: #7C5DFA;
    width:100%;
    height: 62px;
    border-top-right-radius: 20px;
}

.bottom-icon{
    background-color: #9277FF;
    width: 100%;
    height: 52px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    transform: translateY(-30%);
}

.icon-container img{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -100%);
    z-index: 10;
    width: 2.5rem;
}

.moon-container{
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.moon-container .moon-img, .avatar-container{
    align-self: flex-end;
    justify-self: center;
}

.avatar-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-top: 1px solid #7E88C3;;
}

.avatar{
    border-radius: 50%;
    width: 50%;
}

/* .avatar::before{
    content: "";
    border-top: 1px solid white;
    width: 100%;
} */

.moon-img{
    width: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

/* WITH INVOICES */

.invoices{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.each-invoice{
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 72px;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}

.each-invoice:hover{
    box-shadow: -1px 16px 31px -8px rgb(126 136 195 / 43%);
}

.item-invoice:nth-child(2), .item-invoice:nth-child(3){
    color: #7E88C3;
}

.due{
    min-width: 70px;
}

.paid, .pending, .draft{
    padding: 0.8rem 2rem;
    border-radius: 10px;
    width: 137.55px;
    max-width: 145.55px;
}

.pending{
    color: #FF8F00;
    background-color: #FFF8F0;
}
.paid{
    background-color: #F3FCF9;
    color: #33D69F;
}

.draft{
    background-color: #F3F3F5;
    color: #0C0E16;
}

.paid span{
    border-radius: 100px;
    width: 10px;
    height: 10px;
    background-color: #33D69F;
    display: inline-block;
    margin-right: 0.5rem;
}

.pending span{
    border-radius: 100px;
    width: 10px;
    height: 10px;
    background-color: #FF8F00;
    display: inline-block;
    margin-right: 0.5rem;
}


.draft span{
    border-radius: 100px;
    width: 10px;
    height: 10px;
    background-color: #0C0E16;
    display: inline-block;
    margin-right: 0.5rem;
}

/* INVOICE PAGE */

.container-invoice{
    width: 50%;
    margin: 0 auto;
    height: 100%;
    display: grid;
    grid-template-rows: 100px 10% 1fr;
}

.back{
    margin-top: 2rem;
    text-decoration: none;
    color: #0C0E16;
}

.back img{
    margin-right: 2rem;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.inner-top-container{
    background-color: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem;
    align-items: center;
    border-radius: 10px;
    box-shadow: -1px 16px 31px -8px rgb(126 136 195 / 43%);
}

.top-bar .payment{
    width: 140px;
}

.left-top-bar{
    display: flex;
    align-self: flex-start;
}

.status{
    align-self: center;
    margin-right: 2rem;
    color: #7E88C3
}

.edit{
    text-decoration: none;
    color: #888EB0;
    background-color: rgb(240, 242, 250);
    padding: 15px 25px;
    border-radius: 25px;
}

.delete{
    text-decoration: none;
    color: #fff;
    background-color: #EC5757;;
    padding: 15px 25px;
    border-radius: 25px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.top-bar a:hover,
.top-bar a:focus {
  box-shadow: 0 0.5em 0.5em -0.4em #1E2139;;
  transform: translateY(-0.5em);
}

.mark-paid{
    text-decoration: none;
    color: #fff;
    background-color: #7C5DFA;
    padding: 15px 25px;
    border-radius: 25px;
}

/* BOTTOM BAR */
.bottom-bar{
    background-color: #fff;
    margin-bottom: 1rem;
    box-shadow: -1px 16px 31px -8px rgb(126 136 195 / 43%);
    border-radius: 10px;
    padding: 40px;
}

.top-section{
    display: flex;
    justify-content: space-between;
}

.top-section h2{
    margin-bottom: 20px;
}
.top-section p{
    color: #888EB0;
}

.top-section .right-side p{
    margin-top: 10px;
}

/* MID SECTION */

.mid-section{
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 30px;
}

.mid-section p{
    color: #888EB0;
}

.mid-section h3{
    margin-top: 20px;
}

.left-mid{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.center-mid p{
    margin-top: 10px;
}

.center-mid p:nth-of-type(1){
    margin-top: 0;
}

/* BOTTOM SECTION */
.bottom-section{
    background-color: #F9FAFE;
    border-radius: 10px;
    margin-top: 55px;
}

.first-bottom-section{
    display: flex;
    justify-content: space-between;
    padding: 35px 30px 0;
    flex-direction: column;
}

.item-cats{
    display: flex;
}

.left-cats{
    width: 35%;
}

.right-cats{
    display: grid;
    width: 65%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
}

.right-cats p{
    justify-self: center;
}

.left-info{
    display: flex;
    width:100%;
}

.mid-info{
    text-align: center;
    width: 15%
}

.end-info{
    text-align: center;
    width: 15%
}

.colored{
   color: #7E88C3; 
}

.first-bottom-section p{
    margin-bottom:40px;
}

.info{
    display: flex;
    justify-content: space-between;
}

.second-bottom-section{
    padding: 20px;
    background-color:#373B53;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
}

/* MOBILE */
@media only screen and (max-width: 650px){
    .sidebar{
        display: flex;
        position: relative;
        height: 72px;
        width: 100%;
        border-radius: 0;
    }

    .icon-container{
        height: auto;
        width: 50%;
    }

    .top-icon {
        background-color: #7C5DFA;
        width: 40%;
        height: 75%;
        border-top-right-radius: 20px;
    }

    element.style {
        position: absolute;
        bottom: 0;
    }
    .bottom-icon {
        background-color: #9277FF;
        width: 40%;
        height: 50%;
        max-height: 100%;
        border-bottom-right-radius: 20px;
        border-top-left-radius: 20px;
        transform: translateY(0%);
        position: absolute;
        bottom: 0;
    }

    .icon-container img{
        left: 20%;
    }

    .moon-container{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
        width: 60%;
    }

    .moon-container .moon-img{
        padding-bottom: 0;
        
        margin-bottom: 0;
    }
    .moon-container .moon-img, .avatar-container {
        align-self: center;
        justify-self: center;
    }

    .avatar-container{
        border: 1px solid #7E88C3;
    }

    /* BODY SECTION OF NO INVOICES */

    .container{
        width: 100%;
        margin: 40px 25px;
        display: block;
        position: relative;
    }

    .container p{
        font-size: 0.8rem;
    }

    .container h1{
        font-size: 1.3rem;
    }

    .container .hide-filter{
        display: none;
    }

    .container select{
        color: black;
        width: 28%;
        margin-right: 1rem;
    }

    /* CTA */
    .inner-invoice{
        display: none;
    }

    .right-main{
        display: flex;
    }

    .sub-container{
        justify-content: space-around;
    }

    .container .no-invoices{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .no-invoices p {
        width: 65%;
    }
}